/* sensible defaults */

@font-face {
    font-family: Gulax, sans-serif;
    src: url("assets/fonts/Gulax-Regular.woff2");
}

@font-face {
    font-family: Avara, sans-serif;
    src: url("assets/fonts/Avara-Bold.woff2");
}

@font-face {
    font-family: WonderType, sans-serif;
    src: url("assets/fonts/WonderType-Regular.otf");
}


html {
    --section-width: 65ch;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-size: 18px;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    max-width: var(--section-width);
    margin-inline: auto;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Avara;
    overflow-wrap: break-word;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1em;
}

#root,
#__next {
    isolation: isolate;
}

/* basic styling */
:root {color-scheme: dark;}
@media (prefers-color-scheme: light) {
    :root {color-scheme: light;}
}

.ascii_big {
    font-size: 8px;
}

@media only screen and (max-width: 767px)  {
   .ascii_big {
    font-size: 4px;
   }

}

body > *:first-child {
    margin-top: 1rem;
}



/* easy theming */
:root {
    --color-fg: #d3d3d3;
    --color-bg: #0c0d1a;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-fg: #3c3c3c;
        --color-bg: #f4ecd8;
    }
}

* {
    color: var(--color-fg);
    background-color: var(--color-bg);
}

h1 {
    font-family: Avara;
    font-size: 3rem;
}

h2 {
    font-size: 1.4rem;
}

p {
    font-family: WonderType;
    font-size: 1rem;
}

* {
    font-family: monospace;
}

section {
    margin-bottom: 4rem;
}

._h2 {
    display: flex;
    align-items: baseline;
    gap: 3px;
}
._hr {
    height: 2px;
    background: linear-gradient(90deg, var(--color-fg), var(--color-bg));
    /* border-top: solid 2px var(--color-fg); */
    flex-grow: 100;
}